<ui-button [disabled]="true" label="Nuevo botón"></ui-button>
<ui-button color="basic" label="Nuevo botón"></ui-button>
<ui-button color="primary" label="Nuevo botón"></ui-button>
<ui-button color="accent" label="Nuevo botón"></ui-button>
<ui-button color="warn" label="Nuevo botón"></ui-button>

<ui-card>
  <div ui-card-title>Shiba Inu</div>
  <div ui-card-subtitle>Dog Breed</div>
  <div ui-card-content>
    <p>This card has divider and indeterminate progress as footer</p>
    <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
    from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
    originally bred for hunting.</p>
  </div>
  <div ui-card-actions>
    <ui-button label="LIKE" color="primary"></ui-button>
  </div>
</ui-card>
